<section class="container mx-auto py-8 px-10">
    <div class="flex justify-center">
        <div class="singleCat-img-back rounded-xl shadow-xl w-2/3">
            <img class="img-dark rounded-xl" src="/img/categories/<%=FoundCat.image%>" alt="<%=FoundCat.image%>">
            <div class="text-for-image">
                <h1 class="font-bold text-4xl mb-2 text-transparent bg-clip-text bg-gradient-to-br from-cyan-400 to-lime-500"><%=FoundCat.name%></h1>
                <p class="mb-6 text-gray-300"><%=FoundCat.description%></p>
            </div>
        </div>
    </div>
</section>
<section class="mt-10 py-4">
    <div class="px-6">
        <%subcatFromCat.forEach((subcat)=>{%>
            <div>
                <h2 class="text-xl py-4 font-bold text-transparent bg-clip-text bg-gradient-to-br from-cyan-400 to-lime-500"><%=subcat.name%>:</h2>
                <div class="grid grid-cols-4 gap-x-24 gap-y-16 ">
                <%items.forEach((item)=>{%>
                    <%if(item.subcategoryID.toString() == subcat._id.toString()){%>
                        <div class="bg-emerald-900 bg-opacity-20 backdrop-blur-md w-72 rounded-lg shadow-2xl">
                            <img class="h-40 mb-4 mx-auto rounded-lg" src="/img/items/<%= item.image %>" alt="<%= item.image %>">
                            <div class="rounded-lg py-2">
                                <div class="text-center">
                                    <h2 class="mb-2 text-xl"><%= item.name %></h2>
                                    <p class="text-sm text-gray-300"><%= item.description %></p>
                                </div>
                                <div class="flex items-center justify-around mt-4">
                                    <span class="text-lg font-bold">₹<%= item.price %></span>
                                    
                                    <!-- 
                                        now while we got an item here, when we click the following 'add' button
                                        it'll store object 'item' which we get from homeController
                                        it have info about an item, and it'll store in an variable called 'item'
                                        it works just like a post request from form with some information
                                        which will be available in 'req.body'
                                    -->
                                    
                                    <button data-item="<%= JSON.stringify(item) %>" class="add-to-bag py-1 px-6 rounded-full flex items-center font-bold">
                                        <span>+</span>
                                        <span class="ml-4">Add</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <%}%>
                <%})%>
            </div>
        <%})%>
    </div>
</section>