<section class="light-section px-10 py-12">
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold mb-8 text-lg">All Items:</h1>
        <% if(messages.success) { %>
            <div id="success-alert" class="flex items-center bg-green-500 rounded-lg shadow-lg text-white text-l font-bold px-4 py-3 mb-4">
                <i class="las la-info mr-3"></i>
                <p><%=messages.success%></p>
            </div>
        <%} else if(messages.error) {%>
            <div id="success-alert" class="flex items-center bg-red-500 rounded-lg shadow-lg text-white text-l font-bold px-4 py-3 mb-4">
                <i class="las la-info mr-3"></i>
                <p><%=messages.error%></p>
            </div>
        <%}%>
        <table class="tableOrder w-full table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Subcategory</th>
                    <th class="px-4 py-2 text-left">Item</th>
                    <th class="px-4 py-2 text-left">Description</th>
                    <th class="px-4 py-2 text-left">Price</th>
                    <th class="px-4 py-2 text-left">Date</th>
                    <th class="px-4 py-2 text-left">Image</th>
                    <th class="px-4 py-2 text-left"></th>
                </tr>
            </thead>
            <tbody>
                <% if(items.length) { %>
                    <% items.forEach((item) => {%>
                        <tr>
                            <td class="border border-gray-500 px-4 py-2"><%= item.subcategoryID.name%></td>
                            <td class="border border-gray-500 px-4 py-2"><%= item.name%></td>
                            <td class="border border-gray-500 px-4 py-2"><%= item.description%></td>
                            <td class="border border-gray-500 px-4 py-2 w-1/12"><%= Number.parseFloat(item.price)%>/-</td>
                            <td class="border border-gray-500 px-4 py-2 w-1/12"><%=moment(item.createdAt).format('DD/MM/YYYY')%></td>
                            <td class="border border-gray-500 px-4 py-3 w-1/6">
                                <img class="fieldImg rounded-lg" src="/img/items/<%=item.image%>"></img>
                            </td>
                            <td class="border border-gray-500 px-4 py-2 flex h-44 items-center justify-evenly">
                                <form action="/admin/items/delete" method="post">
                                    <input type="hidden" name="item" value="<%=item.name%>">
                                    <button type="submit"><i class="rounded-full px-1 py-1 text-4xl lar la-trash-alt"></i></button>
                                </form>
                                <form action="/admin/items/updateForm" method="post">
                                    <input type="hidden" name="item" value="<%=JSON.stringify(item)%>" />
                                    <button type="submit"><i class="rounded-full text-4xl py-1 px-1 las la-edit"></i></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td class="border px-4 py-2">
                            No items found!
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="my-6 float-right">
            <a href="/admin/items/manage" class="btn-primary text-2xl rounded-full px-2.5 pt-1"><i class="las la-plus"></i></a>
        </div>
    </div>
</section>