<section class="orders light-section px-10 pt-12">
    <div class="container mx-auto">

        <h1 class="text-lg font-bold mb-4">All Orders</h1>

        <% if(messages.success) { %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-xl font-bold px-4 py-3 rounded-lg">
            <i class="las la-info mr-3"></i>
            <p><%=messages.success%></p>
        </div>
        <%}%>
        <table class="tableOrder w-full table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Phone</th>
                    <th class="px-4 py-2 text-left">Time</th>
                    <th class="px-4 py-2 text-left">Status</th>
                </tr>
            </thead>
            <tbody>
                <% if(orders.length) { %>
                    <% orders.forEach((order) => {%>
                        <tr>
                            <td class="border px-4 py-2">
                                <a class="link" href="/customer/order/<%= order._id%>"><%= order._id%></a>
                            </td>
                            <td class="border px-4 py-2"><%= order.address%></td>
                            <td class="border px-4 py-2"><%= order.phone%></td>
                            <td class="border px-4 py-2"><%=moment(order.createdAt).format('hh:mm A')%></td>
                            <td class="border px-4 py-2"><%=order.status%></td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td class="border px-4 py-2">
                            No orders found!
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>